* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Marck Script', cursive;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-basis: 25%;
    background-color: gray;
    transition: all 0.2s;
    background-size: cover;
}

.item:hover {
    flex-basis: 100%;
}

.item-1 {
    background: url("../img/1.jpg") no-repeat;
}

.item-2 {
    background: url("../img/2.jpg") no-repeat;
}

.item-3 {
    background: url("../img/3.jpg") no-repeat;
}

.item-4 {
    background: url("../img/4.jpg") no-repeat;
}

@media (max-width: 544px) {
    .slider {
        flex-direction: column;
        height: -webkit-fill-available;
        justify-content: space-between;
        
    }
    .item {
        flex-direction: column;
        width: 100%;
        //flex-shrink: 2;
    }
    .item:hover {
        //flex-grow: 1;
    }
}


span {
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
    font-size: 2rem;
}