@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("../fonts/HelveticaNeue.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
    text-align: center;
}

.item {
    align-self: baseline;
    text-align: center;
}

.test {
    width: 122px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 576px) {
    .my-order {
        order: -1;
    }
}